{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}

    {% if form.errors %}
    <p>Ваш логин и пароль не совпадают. Пожалуйста, попробуйте снова.</p>
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
    
    {% csrf_token %}
    <div class="row-1">
        <div class="col-2">
            {{ form.username|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.password|as_crispy_field}}
        </div>
        <div class="col-3">
            <input type="submit" value="Авторизоваться" class="btn btn-success">
            <a href="{% url 'password_reset' %}" class="btn btn-success">Забыли пароль?</a> 
        </div>
    </div>
    
    </form>

    <p></p>

{% endblock %}