{% extends "base_generic.html" %}

    
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">Ваш логин и пароль не совпадают. Пожалуйста, попробуйте снова или напишите на почту <a href="mailto:support@iproficlub.ru" class="text-info">support@iproficlub.ru</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h2 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small> Страница авторизации в системе </small></h3>
    
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded" style="height:450px">
    
    <form method="post" action="{% url 'login' %}" class="mt-5">
    
        {% csrf_token %}
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="w-100"></div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    {{ form.password|as_crispy_field}}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-3 col-sm-8" >
                    <input type="submit" value="Авторизоваться" class="btn btn-light">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-8">
                    <a href="{% url 'password_reset' %}" class="btn text-info" role="button">Забыли пароль?</a>
                </div>
                
            </div>
        </div>
    </form>
</div>

{% endblock %}