{% extends "base_generic.html" %}

{% block content %}
<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small>Заявка: {{ application.name }}</small></h1>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <a href="{% url 'application_update' application.pk%}" class="btn btn-light mt-1 btn-sm"> Изменить заявку </a>
    <div class="ml-1 mt-1">
    <p><strong>Комиссия:</strong> <a href="{% url 'commission-detail' application.name.commission.pk%}" class="text-info">{{ application.name.commission }}</a></p>
    <p><strong>ВУЗ:</strong> <a href="{% url 'company-detail' application.vuz.pk%}" class="text-info">{{ application.vuz.full_name }}</a></p>
    <p><strong>Ссылка на архив:</strong> <a target="_blank" href="{{application.link_archiv}}" class="text-info">{{ application.link_archiv}}</a></p>    
    <div class="list-group ml-3">
        <h4>Эксперты экспертной комиссии</h4>
        {% if all_expert_exp_com %}
            {% for expert in all_expert_exp_com %}
                <a href="{% url 'expert-detail' expert.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{expert}}</a>
            {% endfor %}
        {% else %}
            <span class="ml-3 p-1"> Нет назначенных экспертов на заявку </span>
        {% endif %}

        <h4 class="mt-1">Эксперты общей комиссии</h4>
        {% if all_expert_com_com %}
            {% for expert in all_expert_com_com %}
                <a href="{% url 'expert-detail' expert.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{expert}}</a>
            {% endfor %}
        {% else %}
            <span class="ml-3 p-1">Нет назначенных экспертов на заявку</span>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}