<!DOCTYPE html>
<html lang="ru">

<head>
    {% block title %}<title>Я - Эксперт</title>{% endblock %}
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico'  %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" >
</head>
<body>

<div class="container-fluid">
    <div id="menu">
        <p><a href="{% url 'index' %}"><img src="{% static 'img/basic.png' %}" width="180" height="60" ></a></p>        
        {% block sidebar %}
        <ul class="sidebar-nav">
            {% if not user.is_authenticated %}
            <a href="{% url 'index' %}">Домашняя страница</a>
            {% else %}
                <a href="{% url 'index' %}"> Профиль </a>
                <a href="{% url 'check_score' %}"> Подтверждение оценок</a>
            {% endif%}
        </ul>

        {% if user.is_staff %}
        <ul class="sidebar-nav">
            Администратор
            <a href="{% url 'application' %} ">Все заявки</a>
            <a href="{% url 'experts' %}"> Все эксперты и комиссии</a>
            <a href="{% url 'company' %} ">Все организации</a>
            <a href="{% url 'admin:index' %}">Админка</a> {#direction#}
        </ul>
        {% endif %}

        {% if not user.is_staff and user.master_group%}
        <ul class="sidebar-nav">
            Ответственный секретарь
            <a href="{% url 'commission-detail' user.get_commission_master.pk %}"> Все эксперты комиссии</a>
        </ul>
        {% endif %}
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
            Логин: {{ user.login }}
            <br/>
            ФИО: {{ user }}
            <hr/>
            {% if user.is_admin %}
            <a href="https://yadi.sk/i/Io0QEGHzF86w-w" target="_blank"> Критерии экспертной комиссии </a>
            <a href="https://yadi.sk/i/TZFbK2hphOiesA" target="_blank"> Критерии общей комиссии </a>
            {% else %}
                {% if user.is_common_commission %}
                        <a href="https://yadi.sk/i/TZFbK2hphOiesA" target="_blank"> Критерии общей комиссии </a>
                {% else %}
                        <a href="https://yadi.sk/i/Io0QEGHzF86w-w" target="_blank"> Критерии экспертной комиссии </a>
                {% endif %}
            {% endif %}
             <hr/>
            <a href="/accounts/logout/">Выйти из аккаунта </a>
            {% else %}
           <a href="/accounts/login/">Авторизоваться</a>
            {% endif %}
        </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}

        {% block pagination %}
        {% if is_paginated %}
        <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">предыдущая</a>
              {% endif %}
              <span class="page-current">
                  страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">следующая</a>
              {% endif %}
          </span>
        </div>
        {% endif %}
        {% endblock %}
    </div>


</div>
<div id="footer">email для обратной связи: <a href="mailto:support@iproficlub.ru">support@iproficlub.ru</a></div>
</body>
</html>