{% extends "base_generic.html" %}
{% block style_css%}
    {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static '/css/styles_table.css'%}">
{{ block.super }}
{% endblock %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h4>Качественные критерии оценки заявки на включение в перечень вузов-организаторов
    Всероссийской олимпиады студентов «Я – профессионал»</h4>

<br/>
<i>Скачать документ в формате word можно по <a href="https://yadi.sk/i/Io0QEGHzF86w-w" target="_blank"> ссылке </a>
</i>
<br/>
<br/>
<b>Общая информация для экспертов: </b>
в первой графе представлены критерии, а также информация о том, какие документы заявки должны быть проанализированы; вторая графа содержит более подробное описание критерия, а также градацию его содержания. Интервалы и оценочные элементы в критериях предполагают проведение анализа на основании всего массива данных и профессионального мнения эксперта.

<br/>
<br/>

<table class="fixed">
    <col width="20%"/>
    <col width="80%"/>
    <tr>
        <td>
            <b> Критерий №1 </b><br/><br/>
            <b> Содержание контрольно-измерительных материалов направления </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Справки о содержании контрольно-измерительных материалов направления
            </i>
        </td>

        <td>
            <i>Данный критерий оценивает творческий характер, уровень сложности и новизну демоверсий заданий, их
                направленность на выявление интеллектуального потенциала, аналитических способностей и креативности
                мышления участников.
                <br/>Данный критерий оценивает также наличие и содержание спецификаций заданий и дополнительных
                методических материалов.
                <br/>
                <br/>
            </i>
            <b>0 – </b> демоверсии и/или спецификации заданий направления не представлены, выявлено несоответствие
            представленных материалов заданий тематике направления
            <br/>
            <b> 1-3 </b> – демоверсии заданий полностью составлены из неоригинальных тестовых заданий, новизна заданий
            отсутствует; спецификации заданий и дополнительные методические материалы проработаны в неполном объёме
            <br/>
            <b> 4-6</b> – демоверсии заданий отборочного этапа по содержанию соответствуют уровню всероссийской
            олимпиады студентов, при этом творческий характер и новизна в демоверсиях заданий заключительного этапа
            практически отсутствуют; спецификации заданий и дополнительные методические материалы проработаны в
            минимально необходимом объёме
            <br/>
            <b> 7-8</b> – демоверсии заданий отборочного этапа по содержанию соответствуют уровню всероссийской
            олимпиады студентов, новизна и оригинальность демоверсий заданий отборочного этапа присутствует в
            достаточном объёме; демоверсии заданий заключительного этапа состоят из оригинальных творческих заданий
            высокого уровня когнитивной сложности; спецификации заданий и дополнительные методические материалы
            проработаны в достаточном объёме
            <br/>
            <b> 9-10</b> – задания отборочного этапа по содержанию соответствуют уровню всероссийской олимпиады
            студентов, новизна и оригинальность заданий отборочного этапа присутствует в полном объёме; на
            заключительном этапе оригинальные творческие задания высокого уровня сложности, позволяющие наиболее полно
            выявить интеллектуальный потенциал, аналитические способности и креативность мышления участника;
            спецификации заданий и дополнительные методические материалы проработаны в полном объёме

        </td>
    </tr>

    <tr>
        <td>
            <b> Критерий №2 </b><br/><br/>
            <b> Практико-ориентированность направления и формата его проведения, вовлеченность в процесс
                партнеров-работодателей.
            </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Справки о содержании контрольно-измерительных материалов направления и Справки об
                организационно-методическом сопровождении направления олимпиады
            </i>
        </td>

        <td>
            <i> Данный критерий оценивает наличие практико-ориентированной составляющей в заданиях, направленность
                формата проведения на выявление практических навыков и профессионального потенциала участников, а также
                вовлеченность партнеров-работодателей в реализацию направления</i>
            <br/>
            <br/>
            <b> 0 </b> – практико-ориентированная составляющая в заданиях полностью отсутствует; участие
            партнёров-работодателей в реализации направления не предполагается
            <br/> <b> 1-3 </b> – практико-ориентированная составляющая в заданиях присутствует незначительно; участие
            партнёров-работодателей в реализации направления присутствует незначительно
            <br/> <b> 4-6 </b> – практико-ориентированная составляющая в заданиях присутствует в достаточном объёме;
            участие партнёров-работодателей в реализации направления предполагается только в формате предоставления
            стажировок дипломантам олимпиады
            <br/> <b> 7-8 </b> – практико-ориентированная составляющая в заданиях присутствует в достаточном объёме;
            участие партнёров-работодателей в реализации направления предполагается как в формате предоставления
            стажировок дипломантам олимпиады, так и в разработке практико-ориентированных заданий в сфере деятельности
            партнёра-работодателя
            <br/> <b> 9-10 </b> – у направления есть генеральный партнёр, практико-ориентированная составляющая в
            заданиях этапа присутствует в полном объёме; участие партнёров-работодателей в реализации направления
            предполагается в полном объёме (стажировки дипломантам, участие в разработке заданий, проведение собственных
            тестирований, участие в карьерных мероприятиях олимпиады)


        </td>
    </tr>
    <tr>
        <td>
            <b> Критерий №3 </b><br/><br/>
            <b> Профессиональная квалификация членов оргкомитета олимпиады, методической комиссии и жюри
            </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Справки об организационно-методическом сопровождении направления олимпиады </i>
        </td>
        <td>
            <i>Данный критерий оценивает уровень профессиональной квалификации членов оргкомитета олимпиады,
                методической комиссии и жюри, а также наличие среди членов представителей партнёров-работодателей
                направления</i>
            <br/>
            <br/> <b> 0 </b>– состав оргкомитета, методической комиссии и жюри не представлен
            <br/> <b>1-3 </b>– квалификация членов оргкомитета олимпиады, методической комиссии, жюри олимпиады по
            большей части не соответствует уровню всероссийской студенческой олимпиады
            <br/> <b>4-6 </b>– квалификация членов оргкомитета олимпиады, методической комиссии, жюри олимпиады
            соответствует уровню всероссийской студенческой олимпиады; в составе жюри и методической комиссии
            присутствуют лица, имеющие ученую степень и звание; представители партнёров-работодателей отсутствуют
            <br/> <b>7-8 </b>– квалификация членов оргкомитета олимпиады, методической комиссии, жюри олимпиады
            соответствует уровню всероссийской студенческой олимпиады; в составе жюри и методической комиссии
            присутствуют лица, имеющие ученую степень и звание; представители партнёров-работодателей включены в состав
            оргкомитета
            <br/> <b>9-10 </b>– квалификация членов оргкомитета олимпиады, методической комиссии, жюри олимпиады
            соответствует уровню всероссийской студенческой олимпиады; в составе жюри и методической комиссии
            присутствуют лица, имеющие ученую степень и звание, присутствуют члены-корреспонденты или действительные
            члены РАН, выдающиеся общественные и государственные деятели; представители партнёров-работодателей включены
            в состав оргкомитета, методической комиссии и жюри, присутствуют лица, занимающие крупные руководящие
            должности в организациях партнёров
        </td>
    </tr>
    <tr>
        <td>
            <b> Критерий №4 </b><br/><br/>
            <b> Соответствие направления профилю образовательной организации;
                опыт организации и
                проведения интеллектуальных и профессиональных состязаний для студентов
            </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Справки об образовательной организации высшего образования в контексте олимпиады
            </i>
        </td>
        <td>
            <i>Данный критерий оценивает организационный опыт, в том числе опыт проведения Всероссийской олимпиады
                студентов «Я-профессионал», а также степень соответствия направления профилю образовательной
                организации</i>
            <br/>
            <br/> <b>0 </b>– направление не соответствует профилю образовательной организации; сведения об опыте
            проведения интеллектуальных и профессиональных состязаний студентов не представлены
            <br/> <b>1-3 </b>– направление частично соответствует профилю образовательной организации; опыт проведения
            интеллектуальных и профессиональных состязаний студентов не значительный, уровень мероприятий –
            внутривузовский
            <br/> <b>4-6 </b>– направление соответствует профилю образовательной организации; опыт проведения
            интеллектуальных и профессиональных состязаний студентов достаточный, уровень мероприятий – внутривузовский
            и региональный
            <br/> <b>7-8 </b>– направление соответствует профилю образовательной организации; опыт проведения
            интеллектуальных и профессиональных состязаний студентов достаточный, уровень мероприятий – внутривузовский,
            региональный, всероссийский; имеется опыт проведения Всероссийской олимпиады студентов «Я – профессионал» в
            качестве соорганизатора не менее одного года
            <br/> <b>9-10</b> – направление соответствует профилю образовательной организации; опыт проведения
            интеллектуальных и профессиональных состязаний студентов достаточный, уровень мероприятий – внутривузовский,
            региональный, всероссийский, международный; имеется опыт проведения Всероссийской олимпиады студентов «Я –
            профессионал» в качестве организатора не менее одного года
        </td>
    </tr>

    <tr>
        <td>
            <b> Критерий №5 </b><br/><br/>
            <b> Развитость инфраструктуры вуза-организатора и доступность предлагаемой формы проведения направления на
                очном этапе олимпиады
            </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Общих сведений об образовательной организации высшего образования в контексте
                олимпиады </i>
        </td>

        <td>
            <i> Данный критерий оценивает развитость и доступность инфраструктуры для предлагаемого формата организации
                и проведения очного этапа олимпиады соответствующего направления </i>
            <br/>
            <br/> <b>0</b> – организатором не представлена информация об инфраструктуре и материально-технической базе;
            не представлена информация о региональных площадках проведения очного этапа олимпиады
            <br/> <b>1-3</b> – инфраструктура и материально-техническая база соответствует формату проведения
            направления на очном этапе; проведение очного этапа олимпиады не более чем в трех федеральных округах
            <br/> <b>4-6</b> – инфраструктура и материально-техническая база соответствует формату проведения
            направления на очном этапе; проведение очного этапа олимпиады в трех и более федеральных округах
            <br/> <b>7-8</b> – инфраструктура и материально-техническая база соответствует формату проведения
            направления на очном этапе; проведение очного этапа олимпиады в пяти и более федеральных округах
            <br/> <b>9-10</b> – инфраструктура и материально-техническая база соответствует формату проведения
            направления на очном этапе; представлены данные о соответствии инфраструктуры требованиям к безбарьерной
            среде для обеспечения инклюзивности и полноценного участия в олимпиаде всех категорий студентов; проведение
            очного этапа олимпиады во всех федеральных округах либо частичная/полная компенсация расходов на транспорт и
            проживание участников (в зависимости от формата проведения очного этапа олимпиады).


        </td>
    </tr>
</table>

<br/><br/><br/>

<p> Вернуться на <a href="{% url 'index' %}">страницу пользователя </a></p>
{% endblock %}