{% extends "base_generic.html" %}
{% block style_css%}
    {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static '/css/styles_table.css'%}">
{{ block.super }}
{% endblock %}

{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h4>Качественные критерии оценки заявки на включение в перечень вузов-организаторов
    Всероссийской олимпиады студентов «Я – профессионал»</h4>

<br/>
<i>Скачать документ в формате word можно по <a href="https://yadi.sk/i/TZFbK2hphOiesA" target="_blank"> ссылке </a>
</i>
<br/>
<br/>

<table class="fixed">
    <col width="20%"/>
    <col width="80%"/>
    <tr>
        <td>
            <b> Критерий PR
                <br/>
                Готовность информационной инфраструктуры для продвижения направления и олимпиады в целом
            </b>
            <br/><br/>
            <i> Указание: <br/>
                проводится экспертиза Формы №5 (Сведения о возможности образовательной организации и партнеров
                направления по продвижению Олимпиады) и остальных документов заявки </i>
        </td>

        <td>
            <i>Данный критерий оценивает: потенциал информационной активности образовательного учреждения, готовность
                инфраструктуры для продвижения заявленного направления и олимпиады «Я – профессионал» в целом; авторитет
                вуза в заявленной сфере; привлекательность предлагаемого направления олимпиады для участия студентов
                разных направлений и специальностей; соответствие возможностей вуза проведению заявленного направления с
                учетом принципа географического равенства.
                <br/><br/>
            </i>
            <b>0 – </b> Организатором не представлены данные об информационной инфраструктуре образовательной
            организации. Представленное описание не раскрывает целевой аудитории направления. В вузе не реализуются
            образовательные программы соответствующих специальностей и направлений подготовки. Заявленное ожидаемое
            число участников минимально или явно завышено. Электронные и иные открытые ресурсы для подготовки не
            указаны. Материально-техническая база вуза не представляет возможности проведения крупных очных состязаний,
            региональная сеть площадок очного этапа не представлена.
            <br/>
            <b> 1-3 </b> – Информационная инфраструктура образовательной организации соответствует минимально
            необходимым требованиям для организации информационного сопровождения направления; заполнены и оцениваются
            положительно от 1 до 6 пунктов Формы 5.
            Представленное описание не раскрывает целевой аудитории направления. В вузе реализуется минимальное число
            образовательных программ соответствующих специальностей и направлений подготовки. Ожидаемое число участников
            – менее 100 чел. на отборочном этапе.
            Электронные и иные открытые ресурсы для подготовки не указаны. Материально-техническая база вуза минимальна,
            заявленная региональная сеть ограничена одной площадкой очного этапа, финансирование для приезда иногородних
            участников не предусмотрено.
            <br/>
            <b> 4-6</b> – Информационная инфраструктура образовательной организации соответствует базовым требованиям
            для
            организации информационного сопровождения направления; заполнены и оцениваются положительно от 7 до 12
            пунктов Формы 5.
            Представленное описание частично раскрывает целевую аудиторию направления. В вузе реализуются
            образовательные программы по части соответствующих специальностей и направлений подготовки. Ожидаемое число
            участников – менее 200 чел. на отборочном этапе и менее 50 чел. на очном этапе.
            Электронные и иные открытые ресурсы для подготовки указаны в малом объеме. Материально-техническая база вуза
            достаточна для проведения очных состязаний, заявленная региональная сеть ограничена одной площадкой очного
            этапа, финансирование для приезда иногородних участников не предусмотрено.

            <br/>
            <b> 7-8</b> – Информационная инфраструктура образовательной организации соответствует большинству
            необходимых требований для организации информационного сопровождения направления, заполнены и оцениваются
            положительно от 13 до 16 пунктов Формы 5.
            Представленное описание полностью раскрывает целевую аудиторию направления. В вузе реализуются
            образовательные программы по большинству соответствующих специальностей и направлений подготовки. Ожидаемое
            число участников – более 200 чел. на отборочном этапе и менее 50 чел. на очном этапе.
            Электронные и иные открытые ресурсы для подготовки указаны. Материально-техническая база вуза достаточна для
            проведения очных состязаний, заявленная региональная сеть покрывает менее 4 федеральных округов площадками
            очного этапа, финансирование для приезда иногородних участников не предусмотрено.
            <br/>
            <b> 9-10 </b> – Информационная инфраструктура образовательной организации соответствует всем необходимым
            требованиям для организации направления, заполнены и оцениваются положительно 17 и более пунктов Формы 5.
            Представленное описание полностью раскрывает целевую аудиторию направления. В вузе реализуются
            образовательные программы по большинству соответствующих специальностей и направлений подготовки. Ожидаемое
            число участников – более 200 чел. на отборочном этапе и более 50 чел. на очном этапе.
            Электронные и иные открытые ресурсы для подготовки указаны. Материально-техническая база вуза и заявленная
            региональная сеть площадок очного этапа обеспечивают реализацию заявленной схемы направления с соблюдением
            принципа географического равенства.


        </td>
    </tr>
</table>

<br/><br/><br/>

<p> Вернуться на <a href="{% url 'index' %}">страницу пользователя </a></p>
{% endblock %}