{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h2>Информация для ответственного секретаря комиссии</h2>
<h5> {{ expert }}</h5>
<hr/>
<h4> Персональная информация </h4>
<i> <p>Если вы хотите исправить персональную информацию, напишите нам: <a href="mailto:support@iproficlub.ru"> support@iproficlub.ru </a></p> </i>
<ul>
    <b style='font-size:15px'> Данные о месте работы </b>
    <ul><p><i> Должность: </i> {{expert.position}}</p></ul>
    <ul><p><i> Место работы: </i> {{expert.company.full_name}} </p></ul>

    <b style='font-size:15px'> Контакты: </b>
    <ul><p><i> Почта: </i> {{expert.email}}</p></ul>
    <ul><p><i> Телефон: </i> {% if expert.phone is None or expert.phone == '-'%} <font color="#B22222">
        отстутствует </font> {% else %} {{ expert.phone }} {% endif %}</p></ul>
</ul>
<br/>
<hr/>
<h4>Просмотр и комментирование заявок</h4>
    <ul> <b style='font-size:15px'>Нерассмотренные заявки </b> </ul>

    {% if scores_common %}
    <ul type="circle">
        {% for score_form in scores_common %}
        <ul><li><a href="{% url 'score_common_all_form' score_form.pk %}"> {{score_form.application}} </a></li></ul> {#  #}
        {% endfor %}
    </ul>
    {% else %}
        {% if scores_expert %}
        <ul type="circle">
            {% for score_form in scores_expert %}
            <ul><li><a href="{% url 'score_expert_all_form' score_form.pk %}"> {{score_form.application}} </a></li></ul> {#  #}
            {% endfor %}
        </ul>
        {% else %}
             <ul> <ul> <i>  Нет заявок  </i> </ul></ul>
        {% endif %}
    {% endif %}


    <ul><b style='font-size:15px'>Завершенные экспертные оценки </b></ul>

    {% if check_common %}
    <ul type="circle">
        {% for score in check_common %}
           <ul></uk> <li><a href="{% url 'score_common_all_detail' score.pk %}"> {{score.application}} </a></li></ul>
        {% endfor %}
    </ul>
    {% else %}
        {% if check_expert %}
        <ul type="circle">
            {% for score in check_expert %}
                <ul><li><a href="{% url 'score_expert_all_detail' score.pk %}"> {{score.application}} </a></li></ul>
            {% endfor %}
        </ul>
        {% else %}
            <ul> <ul> <i> Экспертиза заявок не завершена </i> </ul></ul>
        {% endif %}
    {% endif %}


{% endblock %}
