{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h2>Экспертиза заявок на базовые направления олимпиады "Я - профессионал"</h2>
<h5>{{ expert }}</h5>
<br/>
<hr/>
<h4>Персональная информация</h4>
<p><strong></strong> <a href="{% url 'expert_update' expert.pk%}"> Ссылка на изменения персональных данных </a></p>
<ul>
    <b style='font-size:15px'> Информация о месте работы </b>
    <ul><p><i> Должность: </i> {{expert.position}}</p></ul>
    <ul><p><i> Место работы: </i> {{expert.company.full_name}} </p></ul>

    <b style='font-size:15px'> Контактная информация:</b>
    <ul><p><i> Почта: </i> {{expert.email}}</p></ul>
    <ul><p><i> Телефон: </i> {% if expert.phone is None %} <font color="#B22222"> отстутствует </font> {% else %} {{
        expert.phone }} {% endif %}</p></ul>
</ul>
    <br/>
    <hr/>
<h4> Информация о экспертных комиссиях</h4>

    <ul>
        {% for com in commissions %}

        <li> <b> {{com}} </b></li>
        {% if com.master %}
            <ul><i> Ответственный секретарь:</i>
                {{com.master}}</ul>
            <ul><i> Почта ответственного секретаря:</i>
                <a href="mailto:{{com.master.email}}"> {{com.master.email}}</a></ul>
        {% else %}
        <ul><i> Ответственный секретарь пока не назначен </i></ul>
        {% endif %}
        {% endfor %}
    </ul>

    <br/>
    <hr/>

<h4>Экспертиза заявок</h4>
<ul>
    <b style='font-size:15px'>Не готовые экспертные оценки </b>
    <br/>
    {% for com in commissions %}
    <ul>
        <b> {{com}}</b>
        {% if com.common_commission %}
                {% if scores_common%}
                    <ul type="circle">
                        {% for score_form in scores_common %}
                        <li><a href="{% url 'score_common_form' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                        {% endfor %}
                    </ul>

                {% endif %}
        {% else %}
                {% if scores_expert %}
                <ul type="circle">
                    {% for score_form in scores_expert %}
                    {% if score_form.relation_exp_app.application.name.commission == com %}
                        <li><a href="{% url 'score_expert_form' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
        {% endif %}
    </ul>
    {% endfor %}
<hr/>
    <b style='font-size:15px'>Оконченные экспертные оценки </b>
        {% for com in commissions %}
    <ul>
        <b> {{com}}</b>
        {% if com.common_commission %}
                {% if check_common%}
                    <ul type="circle">
                        {% for score_form in check_common %}
                        <li><a href="{% url 'score_common_detail' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                        {% endfor %}
                    </ul>

                {% endif %}
        {% else %}
                {% if check_expert %}
                <ul type="circle">
                    {% for score_form in check_expert %}
                    {% if score_form.relation_exp_app.application.name.commission == com %}
                        <li><a href="{% url 'score_expert_detail' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
        {% endif %}
    </ul>
    {% endfor %}

</ul>
{% endblock %}