{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h1>Я - Эксперт</h1>

<h5>Система оценивания заявок образовательных организаций для проведения базовых направлений Всероссийской олимпиады
    студентов «Я – профессионал» 2020/21 учебного года </h5>
<br/>
<br/><br/>

Если у вас возникли трудности с доступом в систему оценивания заявок, пожалуйста, напишите на почту: <a href="mailto:support@iproficlub.ru">support@iproficlub.ru</a>
{% endblock %}