{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<p class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded display-4">Я - Эксперт</p>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
<h5>Система оценивания заявок образовательных организаций для проведения базовых направлений Всероссийской олимпиады
    студентов «Я – профессионал» 2020/21 учебного года </h5>
<br/>
Объявление о проведение конкурсного отбора образовательных организаций высшего образования для проведения в 2020/21 учебном году Всероссийской олимпиады студентов
«Я – профессионал»  размещено на официально интернет-портале олимпиады по адресу <a href="https://yandex.ru/profi/applications_selection_2020" target="_blank" class="text-info">https://yandex.ru/profi/applications_selection_2020</a>
<br/>
<br/>

Если у вас возникли трудности с доступом в систему оценивания заявок, пожалуйста, напишите на почту: <a href="mailto:support@iproficlub.ru" class="text-info">support@iproficlub.ru</a>
</div>
{% endblock %}