{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<div class="drop-shadow p-1 mb-4 mt-0 ml-0 rounded">
<h2 class="d-flex justify-content-lg-center justify-content-sm-start"> <small>Экспертиза заявок на базовые направления олимпиады </small> </h2>
<h2 class="d-flex justify-content-lg-center justify-content-sm-start"> <small>&laquoЯ - профессионал&raquo 2020/21 учебного года </small> </h2>
</div>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h5 class="text-muted">{{ expert }}</h5>
    <hr/>
    <h4>Персональная информация</h4>
    <i> <p>Если вы хотите исправить персональную информацию, напишите нам: <a href="mailto:support@iproficlub.ru" class="text-info"> support@iproficlub.ru </a></p> </i>
    <div class="mr-2 ml-2">    
        <b style='font-size:15px'> Данные о месте работы </b>
        <p><i> Должность: </i> {{expert.position}}</p>
        <p><i> Место работы: </i> {{expert.company.full_name}} </p>

        <b style='font-size:15px'> Контакты: </b>
        <p><i> Почта: </i> {{expert.email}}</p>
        <p><i> Телефон: </i> {% if expert.phone is None or expert.phone == '-'%} <span class="text-danger">
            отстутствует </span> {% else %} {{ expert.phone }} {% endif %}</p>
    </div>
</div>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4> Информация об экспертных комиссиях</h4>

    <div class="list-unstyled ml-2 mr-2">
        {% for com in commissions %}

            <li><b> {{com}} </b></li>
            {% if com.master %}
                <li><i> Ответственный секретарь:</i> {{com.master}} </li>
                <li><i> Почта ответственного секретаря:</i> <a href="mailto:{{com.master.email}}" class="text-info"> {{com.master.email}}</a> </li>
            {% else %}
                <li> <i> Ответственный секретарь пока не назначен </i></li>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4>Экспертиза заявок</h4>
    <ul class="list-unstyled ml-4">
        {% if check_score.check_exp %}
        <b style='font-size:15px'>Экспертиза завершена </b>

        {% else %}
        <b style='font-size:15px'>Нерассмотренные заявки </b>
        <br/>

        {% for com, scores in dict_score.items %}
        <ul class="list-unstyled ml-3">
            <i>{{com}}</i>
            {% if scores %}
                {% if com.common_commission %}
                
                    {% for score_form in scores %}
                    <li><a href="{% url 'score_common_form' score_form.pk %}" class="text-info" style="overflow-wrap: break-word"> {{score_form.relation_exp_app.application}} </a>
                    </li>
                    {% endfor %}
                

                {% else %}
                
                    {% for score_form in scores %}
                    {% if score_form.relation_exp_app.application.name.commission == com %}
                    <li><a href="{% url 'score_expert_form' score_form.pk %}" class="text-info" style="overflow-wrap: break-word"> {{score_form.relation_exp_app.application}} </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                
                {% endif %}
            {% else %}
            
            <li> Нет назначенных заявок в этой комиссии </li>
            
            {% endif %}
        </ul>
        {% endfor %}
            {% endif %}
        <hr/>



        <b style='font-size:15px'>Завершенные экспертные оценки </b>
        {% for com, check in dict_check.items %}
        <ul class="list-unstyled ml-3">
            <i> {{com}}</i>
            {% if check %}
                {% if com.common_commission %}
                    {% for score_form in  check %}
                    <li><a href="{% url 'score_common_detail' score_form.pk %}" class="text-info">
                        {{score_form.relation_exp_app.application}} </a></li>
                    {% endfor %}

                {% else %}
                    {% for score_form in check %}
                    {% if score_form.relation_exp_app.application.name.commission == com %}
                    <li><a href="{% url 'score_expert_detail' score_form.pk %}" class="text-info">
                        {{score_form.relation_exp_app.application}} </a></li>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
            <li> Экспертиза заявок не завершена </li>
            {% endif %}
        </ul>
        {% endfor %}

    </ul>
</div>
{% endblock %}