{% extends "base_generic.html" %}

{% block content %}
<h1>Комиссия: {{ commission }}</h1>
<div style="margin-left:20px;margin-top:20px">
    <h4>Эксперты</h4>
    {% if all_experts %}
    <ul type="circle">
        {% for expert in all_experts %}
        {% if not expert.master_group %}
        <li><a href="{% url 'expert-detail' expert.pk%}"> {{expert}}</a>, {{expert.company}} {{expert.count_check_app}} из {{expert.count_all_app}}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else%}
    В комиссии нет экспертов
    {% endif %}
</div>
{% endblock %}