{% extends "base_generic.html" %}
{% block title %}<title> Я - Эксперт </title>{% endblock %}

{% block content %}
<h2>Экспертиза заявок на базовые направления олимпиады &laquoЯ - профессионал&raquo 2020/21 учебного года </h2>
<h4>{{ expert }}</h4>
<hr/>
<h4>Персональная информация</h4>
<ul>
    <b style='font-size:15px'> Данные о месте работы </b>
    <ul><p><i> Должность: </i> {{expert.position}}</p></ul>
    <ul><p><i> Место работы: </i> {{expert.company.full_name}} </p></ul>

    <b style='font-size:15px'> Контакты: </b>
    <ul><p><i> Почта: </i> {{expert.email}}</p></ul>
    <ul><p><i> Телефон: </i> {% if expert.phone is None or expert.phone == '-'%} <font color="#B22222">
        отстутствует </font> {% else %} {{ expert.phone }} {% endif %}</p></ul>
</ul>
<br/>
<hr/>

<h4>Экспертиза заявок</h4>
<ul>
    {% if check_score.check_exp %}
    <b style='font-size:15px'>Экспертиза завершена </b>

    {% else %}
    <b style='font-size:15px'>Нерассмотренные заявки </b>
    <br/>

    {% for com, scores in dict_score.items %}
    <ul>
        <i> {{com}}</i>
        {% if scores %}
            {% if com.common_commission %}
            <ul type="None">
                {% for score_form in scores %}
                <li>{{score_form.relation_exp_app.application}}  </li>
                {% endfor %}
            </ul>

            {% else %}
            <ul type="None">
                {% for score_form in scores %}
                {% if score_form.relation_exp_app.application.name.commission == com %}
                <li>{{score_form.relation_exp_app.application}} </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        {% else %}
        <ul type="None">
        <li> Нет назначенных заявок в этой комиссии </li>
        </ul>
        {% endif %}
    </ul>
    {% endfor %}
        {% endif %}
    <hr/>



    <b style='font-size:15px'>Завершенные экспертные оценки </b>
    {% for com, check in dict_check.items %}
    <ul>
        <i> {{com}}</i>
        {% if check %}
            {% if com.common_commission %}
            <ul type="None">
                {% for score_form in  check %}
                <li>
                    {{score_form.relation_exp_app.application}} </li>
                {% endfor %}
            </ul>

            {% else %}
            <ul type="None">
                {% for score_form in check %}
                {% if score_form.relation_exp_app.application.name.commission == com %}
                <li>
                    {{score_form.relation_exp_app.application}} </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        {% else %}
        <ul type="None">
        <li> Экспертиза заявок не завершена </li>
        </ul>
        {% endif %}
    </ul>
    {% endfor %}

</ul>

{% endblock %}