{% extends "base_generic.html" %}

{% block content %}
<h2>Информация об экперте комиссии</h2>
<h4>{{ expert }}</h4>
<hr/>
<h4>Персональная информация</h4>
<ul>
    <b style='font-size:15px'> Данные о месте работы </b>
    <ul><p><i> Должность: </i> {{expert.position}}</p></ul>
    <ul><p><i> Место работы: </i> {{expert.company.full_name}} </p></ul>

    <b style='font-size:15px'> Контакты: </b>
    <ul><p><i> Почта: </i> {{expert.email}}</p></ul>
    <ul><p><i> Телефон: </i> {% if expert.phone is None or expert.phone == '-'%} <font color="#B22222">
        отстутствует </font> {% else %} {{ expert.phone }} {% endif %}</p></ul>
</ul>
<br/>
<hr/>
{% if expert.get_commission %}
<h4> Комиссии в которых состоит эксперт:</h4>

<ul type="circle">
    {% for group in expert.get_custom_commission %}
    <li><a href="{% url 'commission-detail' group.pk%}"> {{group}} </a></li>
    {% endfor %}
</ul>
{% endif%}

<hr/>
<h4>Заявки на которые назначен эксперт:</h4>
{% if application_all %}
<ul type="circle">
    {% for application in application_all %}
    <li><a href="{% url 'application-detail' application.pk%}"> {{application.name}} - {{application.vuz.full_name}} </a></li>
    {% endfor %}
</ul>
{% else %}
Нет назначенных заявок для оценки
{% endif %}
<hr/>

<h4>Экспертиза заявок </h4>
<ul> <h5> <b> Нерассмотренные заявки </b></h5></ul>
    {% if scores_common%}
        <ul type="none">
            <b>Общая комиссия: </b>
            {% for score_form in scores_common %}
            <li><a href="{% url 'score_common_form' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
            {#  #}
            {% endfor %}
        </ul>
    {% else %}
        {% if scores_expert %}
            <ul type="none">
                <b>Экспертная комиссия: </b>
                {% for score_form in scores_expert %}
                <li><a href="{% url 'score_expert_form' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                {#  #}
                {% endfor %}
            </ul>
        {% else %}
 <ul> <ul> Нет назначенных заявок для оценки </ul> </ul>
        {% endif %}
    {% endif %}

<ul> <h5><b> Завершенные экспертные оценки </b></h5> </ul>
<ul>
    {% if check_common %}
        <ul type="none">
            <b>Общая комиссия: </b>
            {% for score_form in check_common %}
            <li><a href="{% url 'score_common_detail' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
            {#  #}
            {% endfor %}
        </ul>
    {% else %}
        {% if check_expert %}
            <ul type="none">
                <b>Экспертная комиссия: </b>
                {% for score_form in check_expert %}
                <li><a href="{% url 'score_expert_detail' score_form.pk %}"> {{score_form.relation_exp_app.application}} </a></li>
                {#  #}
                {% endfor %}
            </ul>
        {% else %}
            Нет готовых заявок эксперта
        {% endif %}
    {% endif %}
    </ul>
<hr/>

{% if check_score %}
{% if check_score.check_exp %}
    Эксперт подтвердил все свои оценки. Экспретиза окончена.
{% endif %}
<br/>
 <a href="{% url 'all_score_for_expert_form' check_score.pk %}">Ссылка на форму подтверждения оценок </a>
{% endif %}



{% endblock %}