{% extends "base_generic.html" %}

{% block content %}
<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small class="align-middle">Информация об экперте комиссии</small></h1>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h5 class="text-muted">{{ expert }}</h5>
    <hr/>
    <h4>Персональная информация</h4>
    <ul>
        <b style='font-size:15px'> Данные о месте работы </b>
        <ul><p><i> Должность: </i> {{expert.position}}</p></ul>
        <ul><p><i> Место работы: </i> {{expert.company.full_name}} </p></ul>

        <b style='font-size:15px'> Контакты: </b>
        <ul><p><i> Почта: </i> {{expert.email}}</p></ul>
        <ul><p><i> Телефон: </i> {% if expert.phone is None or expert.phone == '-'%} <font color="#B22222">
            отстутствует </font> {% else %} {{ expert.phone }} {% endif %}</p></ul>
    </ul>
</div>

{% if expert.get_commission %}
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4> Комиссии в которых состоит эксперт:</h4>

    <ul class="list-unstyled">
        {% for group in expert.get_custom_commission %}
            <li><a href="{% url 'commission-detail' group.pk%}" class="text-info ml-4"> {{group}} </a></li>
        {% endfor %}
    </ul>
</div>
{% endif%}

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4>Заявки на которые назначен эксперт:</h4>
    {% if application_all %}
    <ul class="list-unstyled">
        {% for application in application_all %}
            <li><a href="{% url 'application-detail' application.pk%}" class="text-info"> {{application.name}} - {{application.vuz.full_name}} </a></li>
        {% endfor %}
    </ul>
    {% else %}
        Нет назначенных заявок для оценки
    {% endif %}
</div>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h5> <b> Нерассмотренные заявки </b></h5>
        {% if scores_common%}
            <ul class="list-unstyled">
                <b>Общая комиссия: </b>
                {% for score_form in scores_common %}
                    <li class="ml-4"><a href="{% url 'score_common_form' score_form.pk %}" class="text-info text-truncate d-block"> {{score_form.relation_exp_app.application}} </a></li>
                {#  #}
                {% endfor %}
            </ul>
        {% else %}
            {% if scores_expert %}
                <ul class="list-unstyled">
                    <b>Экспертная комиссия: </b>
                    {% for score_form in scores_expert %}
                        <li class="ml-4"><a href="{% url 'score_expert_form' score_form.pk %}" class="text-info text-truncate d-block" > {{score_form.relation_exp_app.application}} </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                Нет назначенных заявок для оценки
            {% endif %}
        {% endif %}

    <h5><b> Завершенные экспертные оценки </b></h5>
    <ul>
        {% if check_common %}
            <ul class="list-unstyled">
                <b>Общая комиссия: </b>
                {% for score_form in check_common %}
                    <li class="ml-4"><a href="{% url 'score_common_detail' score_form.pk %}" class="text-info text-truncate d-block"> {{score_form.relation_exp_app.application}} </a></li>
                {% endfor %}
            </ul>
        {% else %}
            <ul class="list-unstyled">
            {% if check_expert %}
                
                    <b>Экспертная комиссия: </b>
                    {% for score_form in check_expert %}
                        <li class="ml-4"><a href="{% url 'score_expert_detail' score_form.pk %}" class="text-info text-truncate d-block"> {{score_form.relation_exp_app.application}} </a></li>
                    {% endfor %}
                
            {% else %}
                Нет готовых заявок эксперта
            {% endif %}
            </ul>
        {% endif %}
    </ul>
</div>

{% if check_score %}
    {% if check_score.check_exp %}
        Эксперт подтвердил все свои оценки. Экспретиза окончена.
    {% endif %}

    <a href="{% url 'all_score_for_expert_form' check_score.pk %}" class="btn btn-secondary mb-2">Форма подтверждения оценок</a>
{% endif %}



{% endblock %}