{% extends "base_generic.html" %}

{% block content %}

<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small>Все эксперты</small></h1>
<div class="list-group drop-shadow p-2 mb-4 mt-0 ml-0 rounded">

{% if all_group %}
    <input class="form-control mb-1" id="myInput" type="text" placeholder="Поиск...">
    <ul class="p-0" id="listExpert">
        {% for commission in all_group %}
            {% if commission.common_commission == False%}
                <li class="list-group-item p-1 border-0"><a href="{% url 'commission-detail' commission.pk%}" class="text-dark" style="text-decoration: none;"> {{ commission.name }} </a></li>
                {% for expert in all_expert%}
                    {% if commission.group in expert.get_commission%}
                        <li class="list-group-item p-1 border-0"><a href="{% url 'expert-detail' expert.pk%}" class="text-info ml-3"> {{expert}} </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for commission in all_group %}
            {% if commission.common_commission == True%}
                <li class="list-group-item p-1 border-0"> <a href="{% url 'commission-detail' commission.pk%}" class="text-dark" style="text-decoration: none;"> {{ commission.name }} </a></li>
                {% for expert in all_expert%}
                    {% if commission.group in expert.get_commission%}
                        <li class="list-group-item p-1 border-0"><a href="{% url 'expert-detail' expert.pk%}" class="text-info ml-3"> {{expert}} </a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    </ul>
    <script type="text/javascript">
        $(document).ready( function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $('#listExpert li').filter( function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 )
                });
            });
        });
    </script>
{% else %}
        <div class="p-2 mb-4 mt-0">
            <p class="text-muted">Нет экспертных групп</p>
        </div>
{% endif %}
</div>

{% endblock %}