{% extends "base_generic.html" %}

{% block content %}

<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small>Все эксперты</small></h1>
<div class="list-group drop-shadow p-2 mb-4 mt-0 ml-0 rounded">

{% if all_group %}
    
    {% for commission in all_group %}
    {% if commission.common_commission == False%}
        <a href="{% url 'commission-detail' commission.pk%}" class="list-group-item text-dark border-0 p-1" style="text-decoration: none;"> {{ commission.name }} </a>
        {% for expert in all_expert%}
            {% if commission.group in expert.get_commission%}
                <a href="{% url 'expert-detail' expert.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{expert}} </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}

    {% for commission in all_group %}
    {% if commission.common_commission == True%}
        <a href="{% url 'commission-detail' commission.pk%}" class="list-group-item text-dark border-0 p-1" style="text-decoration: none;"> {{ commission.name }} </a>
        {% for expert in all_expert%}
            {% if commission.group in expert.get_commission%}
                <a href="{% url 'expert-detail' expert.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{expert}} </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}


{% else %}
        <div class="p-2 mb-4 mt-0">
            <p class="text-muted">Нет экспертных групп</p>
        </div>
{% endif %}
</div>

{% endblock %}