{% extends "base_generic.html" %}

{% block content %}
<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small class="align-middle">Организация</small></h1>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4>{{ company.full_name }}</h4>
    <p>{{company.region.federal_district.full_name}} федеральный округ</p> <!-- author detail link not yet defined -->
    <div class="list-group ml-3">
        <h4 class="">Эксперты</h4>
        {% if all_expert %}
            {% for expert in all_expert %}
                <a href="{% url 'expert-detail' expert.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{expert}} </a>
            {% endfor %}
        {% else%}
            <span class="ml-3 p-1"> Нет экспертов у данной организации </span>
        {% endif %}

        <h4 class="mt-1">Заявки</h4>
        {% if all_application %}
            {% for application in all_application %}
                <a href="{% url 'application-detail' application.pk%}" class="list-group-item text-info ml-3 border-0 p-1"> {{application}} </a>
            {% endfor %}
        {% else%}
            <span class="ml-3 p-1">Нет заявок на направления у данной организации</span>
        {% endif %}
    </div>
</div>
{% endblock %}