{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools %}
{{ block.super }}



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/mod.css' %}">
<!--
{% if messages %}
        {% for message in messages %}
			<div id="iw-modal" class="iw-modal">
				<div class="iw-modal-wrapper">
					<div class="iw-CSS-modal-inner">
						<div class="iw-modal-header">
							<h3>Пароль обновлен!</h3>
							<a href="#" title="Закрыть" class="iw-close">×</a>
						</div>
						<div class="iw-modal-text">    
							<p>Новый пароль: <b>{{ message }}</b></p>
						</div>
					</div>
				</div>	
			</div>
        {% endfor %}
{% endif %}
-->
<form action="../my_reset_password/" method="POST">
    {% csrf_token %}
	<input type="submit" class="btn" value="Сменить пароль">
</form>

{% endblock %}

