{% extends "admin/base_site.html" %}

{% block object-tools %}
{{ block.super }}
<table>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <tr>
            <td>Выберите файл</td>
            <td>
                <input type="file" name='file'>
            </td>
        </tr>
        <tr>
            <td><input type="submit" class="btn" name='prev' value="Вернуться"></td>
            <td><input type="submit" class="btn" name='check' value="Проверить файл на валидность"></td>
            {% if check %}<td><input type="submit" class="btn" name='check_and_apply' value="Проверить и загрузить файл в систему"></td>
            {% else %} <td><input type="submit" class="btn" name='company' value="Перейти в организации"></td>    {% endif %}
        </tr>
    </form>
</table>
<hr>
<h3> Описание: </h3>
<br/>
<i> В файле обязательно должны быть следующие поля: </i>
<br/>
<ul> 'Фамилия', 'Имя', 'Отчество', 'Пол', 'Комиссия', 'Место работы', 'Должность', 'ФО', 'Телефон', 'Почта', 'Примечание' </ul>
<br/>
<p><i> Порядок столбцов может быть любой.
 Могут быть любые другие столбы, но считаются только эти </i> </p>
<h3>Описание загрузки:</h3>
<ol>
    <li>Выберите файл для загрузки</li>
    <li>Нажмите кнопку "Проверить файл на валидность"
        <ol type="I">
            <li> Если в таблице нет красных ячеек, то появится кнопка "Проверить и загрузить файл в систему" </li>
            <li> Если в таблице есть красные ячейки, то необходимы исправления файла целиком. Возможные варианты ошибок:</li>
                <ol type="a">
                    <li>"Пол" - допустимы значения срочных и заглавных букв "М" и "Ж" </li>
                    <li>"Комиссия" - поправьте названия комиссий </li>
                    <li>"Место работы" - проверьте наличие организации в базе, если нет, то добавьте и попробуйте снова
                    <br/> Поиск осуществялется по длинным и коротким названиям
                    </li>
                    <li>"Почта" - нужно чтобы в ячейке была всего одна почта</li>
                </ol>
            <li>Если в таблице есть уже существующие эксперты в системе (оранжевые), то рекомендуюется их не загружать вместе с новыми экспертами.
            <br/> Обновление экспертов происходит только в индивидуальном порядке. Это страница только загрузки новых экспертов
            </li>
        </ol>
    </li>

    <li>Выберите файл снова для загрузки и нажмите появившуюся кнопку "Проверить и загрузить файл в систему"</li>
</ol>
<h4>Обозначения цветов:</h4>
<table border="1" align="left">
    <tr>
        <td bgcolor="#90EE90" valign="middle"> проверка прошла </td>
        <td bgcolor="#FFAC46" valign="middle"> существующий эксперт <br/> обновления не будет </td>
        <td bgcolor="#E0E0DF" valign="middle"> проверки не было, <br/> данные просто <br/> загрузятся в базу </td>
        <td bgcolor="#FF836D" valign="middle"> ошибка, проверьте <br/> правильность данных </td>
    </tr>
</table>
<br/>
<br/>

<hr/>
<br/>
<br/>
{% if tables %}
<h2>Загруженная таблица</h2>
<table>
    <tr>
    {% for h in head %}
        <td bgcolor="#ffffff" align="center"> <b> {{h}} </b></td>
    {% endfor %}
    </tr>

    {% for row in tables %}
    <tr>
        {% for items in row %}
            {% if items.0 == 'green' %}
                <td bgcolor="#90EE90">
            {% elif items.0 == 'orange' %}
                <td bgcolor="#FFAC46">
            {% elif items.0 == 'gray' %}
                <td bgcolor="#E0E0DF">
            {% else %}
                 <td bgcolor="#FF836D">
            {% endif %}
                        {{items.1}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
