{% extends 'admin/change_list.html' %}


{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}


{% block object-tools %}

<form action="generate_users/" method="POST">
    {% csrf_token %}
    <select size="10" tabindex="1" >
    {% for i in 20 %}
    	<option value={{i}}>{{ i }}</option>
    {% endfor %}
    </select>
    <input type="submit" class="btn" value="Сгенерировать логины">
</form>
<br/>

{{ block.super }}
{% endblock %}
