{% extends 'admin/change_list.html' %}


{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}


{% block object-tools %}

<table>
    <tr>
        <td>
            <form action="generate_users/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" name="generate" value="Сгенерировать логины">

            </form>
        </td>
        <td>
            <form action="update_users/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Обновить">
            </form>
        </td>
        <td>
            <form action="load_users/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Загрузить">
            </form>
        </td>
        <td>
            <form action="export_users/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Выгрузить">
            </form>
        </td>
    </tr>
</table>

<br/>

{{ block.super }}
{% endblock %}
