{% extends 'admin/index.html' %}

{% block content %}
<table>
    <tr>
        <td>
            <b>Эксперты </b>
        </td>


        <td>
            <form action="load_users/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Загрузить">
            </form>
        </td>

        <td>
            <form action="export_users/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Выгрузить">
            </form>
        </td>
        <td>
            <b> Распределение экспертов </b>
        </td>


        <td>
            <form action="load_relation/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Загрузить">
            </form>
        </td>

        <td>
            <form action="export_relation/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Выгрузить">
            </form>
        </td>
    </tr>

    <tr>
        <td>
           <b> Оценки</b>
        </td>


        <td>
            <form action="upload_score/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Обновить">
            </form>
        </td>

        <td>
            <form action="export_score/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Выгрузить">
            </form>
        </td>

        <td>
           <b> Результаты (сводные таблицы)</b>
        </td>


        <td>
            <form action="upload_result/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Обновить">
            </form>
        </td>

        <td>
            <form action="export_result/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Выгрузить">
            </form>
        </td>
    </tr>
</table>
<br/>
{{ block.super }}

{% endblock %}