{% extends 'admin/index.html' %}

{% block content %}
<table>
    <tr>
        <td>
            <b>Загрузить: </b>
        </td>


        <td>
            <form action="load_users/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Эксперты">
            </form>
        </td>


        <td>
            <form action="load_relation/" method="POST"> {# TODO #}
                {% csrf_token %}
                <input type="submit" class="btn" value="Распределение экспертов">
            </form>
        </td>

    </tr>
    <tr>
        <td>
            <b>Обновить</b>
        </td>
        <td>
            <form action="upload_score/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Оценки">
            </form>
        </td>

        <td>
            <form action="upload_result/" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn" value="Результаты">
            </form>
        </td>

    </tr>
</table>
<br/>

<form action="export_users/" method="POST"> {# TODO #}
    {% csrf_token %}
    <input type="submit" class="btn" value="Выгрузить всё">
</form>

<br/>
<br/>
{{ block.super }}

{% endblock %}