{% extends "base_generic.html" %}

{% block content %}
<h2>Форма оценки заявки</h2>

<ul><b> Эксперт: </b> {{ scorecommon.relation_exp_app.expert }}</ul>
<ul><b> Заявка: </b> {{ scorecommon.relation_exp_app.application }}</ul>
<ul><b> Ссылка на документы заявки: </b>  <a href="{{ scorecommon.relation_exp_app.application.link_archiv }}" target="_blank"> {{ scorecommon.relation_exp_app.application.link_archiv }} </a></ul>
<ul><b> Ссылка на подробные критерии: </b> <a href="{% url 'criteria_common' %}" target="_blank"> Критерии общей комиссии </a></ul>

<form action="" method="post">
    {% csrf_token %} {# {{ form.as_table }} class="fieldWrapper"#}
    <p> {{ form.score.help_text }} </p>
    {{ form.score.errors }}
    <p> <b> Оценка заявки </b>     {{ form.score }} </p>

    <p> {{ form.comment.help_text }} </p>
    {{ form.comment.errors }}
    <p> {{ form.comment }} </p>
    <input type="submit" value="Отправить"/>

</form>

{% endblock %}