{% extends "base_generic.html" %}

{% block content %}
<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"> <small> Форма оценки заявки </small></h1>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <div class="p-2 ml-1"><b> Заявка: </b> {{ scorecommonall.application }}</div>
    <div class="p-2 ml-1"><b> Ссылка на документы заявки: </b> <a href="{{ scorecommonall.application.link_archiv }}"  target="_blank" class="text-info">{{ scorecommonall.application.link_archiv }} </a> </div>
    <div class="p-2 ml-1"><b> Ссылка на подробные критерии: </b> <a href="{% url 'criteria_common' %}" target="_blank" class="text-info"> Критерии общей комиссии </a></div>
</div>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4> Оценки и комментарии экспертов </h4>
    {% for expert, score_and_comment in scorecommonall.get_all_comments_and_scores.items %}
    <ul class="list-unstyled ml-3">
        <li class="p-2 mb-1">
            <i> {{ expert }} </i>
        </li>
        <ul type="None" class="">
        <div class="row">
            <div class="col-md-2 font-italic bg-light text-center"> Оценка: </div> 
            {% if score_and_comment.score is None %} 
                <div class="table-danger col-md-2 text-center "> отстутствует </div>  
            {% else %}
                <div class="table-success col-md-2 text-center "><b>{{ score_and_comment.score }}</b></div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-2 font-italic bg-light text-center ">
            Комментарий:
            </div> 
            {% if score_and_comment.comment is None or score_and_comment.comment == "" %}
                <div class="table-danger col-md-2 text-center">
                    отстутствует
                </div>
            {% else %}
                <div class="col-md-10 text-left">
                    <b>{{ score_and_comment.comment }}</b>
                </div> 
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <h4> Комментарий ответственного секретаря по заявке  <b style="color:#B22222"> * </b></h4>
    <p><i> Оставьте небольшой общий комментарий по заявке </i></p>
    {% load crispy_forms_tags %}

    <form action="" method="post" class="">
        {% csrf_token %}
        {{ form.comment_master.errors }}
        {{ form|crispy }}
        <p><i> Проверьте ваш комментарий перед отправкой, после отправки редактирование будет недоступно </i></p>
        <input type="submit" value="Отправить" class="btn btn-secondary">
    </form>
</div>

{% endblock %}