{% extends "base_generic.html" %}

{% block content %}

<h2 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small>Форма оценки заявки</small></h2>

<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <div class="p-2 ml-1"><b> Эксперт: </b> {{ scoreexpert.relation_exp_app.expert }}</div>
    <div class="p-2 ml-1"><b> Заявка: </b> {{ scoreexpert.relation_exp_app.application }}</div>
    <div class="p-2 ml-1"><b> Ссылка на документы заявки: </b> <a href="{{ scoreexpert.relation_exp_app.application.link_archiv }}" target="_blank" class="text-info">  {{ scoreexpert.relation_exp_app.application.link_archiv }}</a></div>
    <div class="p-2 ml-1"><b> Ссылка на подробные критерии: </b> <a href="{% url 'criteria_expert' %}" target="_blank" class="text-info"> Критерии экспертной комиссии </a></div>
</div>
{% load crispy_forms_tags %}

<form action="" method="post" class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    {% csrf_token %} {# {{ form.as_table }} class="fieldWrapper"#}
    
    {{ form.score1.errors }}
    {{ form.score1|as_crispy_field }}

    {{ form.score2.errors }}
    {{ form.score2|as_crispy_field }}

    {{ form.score3.errors }}
    {{ form.score3|as_crispy_field }}

    {{ form.score4.errors }}
    {{ form.score4|as_crispy_field }}

    {{ form.score5.errors }}
    {{ form.score5|as_crispy_field }}

    {{ form.comment.errors }}
    {{ form.comment|as_crispy_field }}
    <!--<p style='font-size:15px'><b> Критерий №1 </b> <b style="color:#B22222; font-size:15px"> * </b> </p>
    <ul>
        <p> {{ form.score1.help_text }} </p>{{ form.score1.errors }}
        <p><b> Выберите оценку по Критерию №1 </b> {{ form.score1}} </p>
    </ul>
    <p style='font-size:15px'><b> Критерий №2 </b> <b style="color:#B22222; font-size:15px"> * </b> </p>
    <ul>
        <p> {{ form.score2.help_text }} </p>
        {{ form.score2.errors }}
        <p><b> Выберите оценку по Критерию №2 </b> {{ form.score2 }} </p>
    </ul>
    <p style='font-size:15px'><b> Критерий №3 </b> <b style="color:#B22222; font-size:15px"> * </b></p>
    <ul>
        <p> {{ form.score3.help_text }} </p>
        {{ form.score3.errors }}
        <p><b> Выберите оценку по Критерию №3 </b> {{ form.score3 }} </p>
    </ul>
    <p style='font-size:15px'><b> Критерий №4 </b> <b style="color:#B22222; font-size:15px"> * </b> </p>
    <ul>
        <p> {{ form.score4.help_text }} </p>
        {{ form.score4.errors }}
        <p><b> Выберите оценку по Критерию №4 </b> {{ form.score4 }} </p>
    </ul>
    <p style='font-size:15px'><b> Критерий №5 </b> <b style="color:#B22222; font-size:15px"> * </b> </p>
    <ul>
        <p> {{ form.score5.help_text }} </p>
        {{ form.score5.errors }}
        <p><b> Выберите оценку по Критерию №5 </b> {{ form.score5 }} </p>
    </ul>

    <p style='font-size:15px'><b> Комментарий по заявке </b> <b style="color:#B22222; font-size:15px"> * </b> </p>
    <ul>
        <p> {{ form.comment.help_text }} </p>
        {{ form.comment.errors }}
        {{form.comment}}
    </ul>
-->
    <input type="submit" value="Отправить" class="btn btn-light">

</form>
{% endblock %}