{% extends "base_generic.html" %}

{% block content %}

<h1 class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded d-flex"><small>Форма оценки заявки</small></h1>
<div class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">
    <ul><b> Эксперт: </b> {{ scorecommon.relation_exp_app.expert }}</ul>
    <ul><b> Заявка: </b> {{ scorecommon.relation_exp_app.application }}</ul>
    <ul><b> Ссылка на документы заявки: </b>  <a href="{{ scorecommon.relation_exp_app.application.link_archiv }}" target="_blank" class="text-info"> {{ scorecommon.relation_exp_app.application.link_archiv }} </a></ul>
    <ul><b> Ссылка на подробные критерии: </b> <a href="{% url 'criteria_common' %}" target="_blank" class="text-info"> Критерии общей комиссии </a></ul>
</div>
{% load crispy_forms_tags %}

<form action="" method="post" class="drop-shadow p-2 mb-4 mt-0 ml-0 rounded">

    {% csrf_token %}
    {% for f in form %}
    <div class="mb-4">
        <h4 class="bg-light rounded p-1"> {{f.label}} </h4>
        {{f.help_text}}
        {{f}}
    </div>
    {% endfor %}

    <input type="submit" value="Отправить" class="btn btn-secondary">

</form>

{% endblock %}